body{ font-size: 14px; background: #f4f8fb; overflow-x:hidden;  }
d-none{
	display: none;
}
.nav-item a {cursor: pointer;}
h2.title{
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
	text-shadow: 1px 1px 8px #504b4b;
	margin-top: -15px;
}
p.content {
    text-align: center;
    padding: 5px 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}
.container{
    margin-top: 100px; 
}
a{text-decoration: none;}
a:hover{text-decoration: none;}
svg.icon { width: 14px; height: 14px; margin: 0 5px 0 8px; vertical-align: -0.15em; fill: currentColor; overflow: hidden;}
/*menu*/
.navbar-light .navbar-nav .nav-link{ color: #fff; }
.navbar-light .navbar-nav .active .nav-link{ color: #fff; }
.navbar-light .navbar-nav .nav-link:hover{ color: #bbb; }
/* --- search --- */
#search{width:100%;margin:0; padding: 0; position: relative; z-index: 2000;  border-radius: 5px;}
#search form{position:relative}
#search-text{width:100%;height:50px; line-height: 50px; text-indent: 10px; font-size:16px;border-radius:5px;background-color:#fff; border:none; box-shadow: 0 0.5rem 0.625rem #d4d4d44d;transition: 0.3s all linear;}
#search-text:focus{background: #fff; box-shadow: 0 0px 24px 0 rgba(50, 50, 50, 0.08); border-color: #fff; }
#search button{position:absolute;top:0;right:0;background:none;border:0; border-radius:20px;width:60px;height:36px;margin:7px 0 0;line-height:36px;border-radius:3px; outline: none;}
#search button:hover{cursor:pointer}
#search button i{color:#ddd;font-size:18px}
.search-group{display:none;padding-left:0}
.s-current .search-type{padding-left:0;display:block}
.s-current{display:block}
#search-list{position:relative}
.s-type{position:absolute;top:0;left:0;z-index:13;width:75px}
.s-type:hover{height:auto}
.s-type>span{display:block;height:31px;width:75px}
.s-type-list{display:none;position:absolute;top:31px;padding:9pt 0;width:70px;background:#fff;border-radius:5px;box-shadow:0 9px 20px rgba(0,0,0,.16)}
.s-type-list:before{position:absolute;top:-1pc;left:20px;content:'';display:block;width:0;height:0;border:10px solid transparent;border-bottom-color:#fff}
.s-type-list label{display:block;font-size:15px;text-align:center;font-weight:normal;margin-bottom:0;padding:2px 0;cursor:pointer;transition:.3s}
.s-type-list label:hover{background:rgba(136,136,136,.1)}
.s-type-list .tile-lg{color:#fff;width:3pc;height:3pc;font-size:1.25rem;line-height:3rem;border-radius:.3rem;display:block;margin:auto}
.s-type:hover .s-type-list{display:block}
.type-text{position:absolute;left:0;width:75px;padding-left:9pt;font-size:1pc;line-height:31px}
/*.type-text:after{content:"\f105";font-family:FontAwesome;margin:0 0 0 15px}*/
.search-type{text-align:center;white-space:nowrap;margin:0}.search-type label{margin:0}
.search-type li{display:inline-block; background: rgb(255 255 255 / 0.7); border-radius: 8px 8px 0 0;}
.search-type li label{display:inline-block;padding:0 11px;font-size:14px;line-height:31px;border-radius:8px 8px 0 0;cursor:pointer}
.search-type input:checked+label,.search-type input:hover+label{background-color:#fff;}
#search-text::-webkit-input-placeholder {color: #bbb;}
#word{ position: absolute; list-style: none; top:55px; left: 0px; width: 100%; background: rgba(259,259,259,0.9); border-radius: 5px; z-index:20000; padding: 15px 10px; box-shadow: 0 0 10px #aaa; }
#word li{ height:35px; padding: 0 5px; text-indent: 30px; background: url(sou.svg) no-repeat 5px; background-size: 20px;  line-height: 35px; cursor: pointer; font-size: 16px; border-radius: 5px;}
#word li:hover{ background-color: #ddd;}
.set-check{margin-top:3px;font-size:9pt}.set-check label{margin-left:3px}
.set-check input,.set-check label{opacity:0;transition:all .3s ease}
.search-type li{list-style:none;display:inline-block}
.mylist{list-style: none; padding:10px 20px; position: relative; z-index: 1000; margin: 20px 0; border-radius: 15px; background: #fff; box-shadow: 0 0.5rem 0.625rem #d4d4d44d}
.mylist li.col-3{ width: 100px; transition: 0.3s all linear; font-size: 14px; overflow: hidden; padding:10px 0; border-radius: 10px;}
.mylist li.col-3 svg{ display: block; width: 45px; height: 45px; padding: 8px; background: #fff;border: 1px solid #eee;  border-radius:10px; margin: 0 auto; }
.mylist li.col-3:hover{ background: #eee; }
.mylist li.col-3 span{ width: 100%; display: block; height: 26px; line-height: 26px; text-align:center; font-size: 13px; }

.mylist li a {  color: #555; display: block; cursor: pointer;}
.mylist li.title{width: 100%; min-width: auto; margin: 0; height: 35px; font-size: 16px; line-height: 33px; padding: 0 20px 0 10px; border-bottom: 1px solid #eee; margin-bottom: 10px;}
.banner-video {
    position: absolute;
    width: 100%;
    overflow: hidden;
    left: 0; top:0;
    max-height: 750px;
}
.banner-video video{width:2048px; float:left; }
.banner-video img{object-fit: cover; width: 100%; height: 370px;}
.bottom-cover{ width: 100%; height: 50%; position: absolute; bottom:0px; z-index: 10; }
span.desk-d_none{display:none;}
svg.mobile-d_none, span.pad-d_none{display:inline;}
.box {
	margin: 40px 0;
	position: fixed;
	z-index: 1000
}

.change-type {
	min-width: 40px;
	min-height: 160px;
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	display: flex
}

.change-type .type-left {
	width: 0;
	background: #fff;
	height: 100%;
	box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: -40px;
	overflow: hidden;
	transition: width 0.4s;
	-moz-transition: width 0.4s;
	-webkit-transition: width 0.4s;
	-o-transition: width 0.4s
}

.change-type .showListType {
	width: 130px;
	transition: width 0.4s;
	-moz-transition: width 0.4s;
	-webkit-transition: width 0.4s;
	-o-transition: width 0.4s
}

.change-type .type-left ul {
	margin-bottom: 0px
}

.change-type .type-left ul li {
	line-height: 40px;
	height: 40px;
	text-align: left;
	width: 100%;
	position: relative;
	cursor: pointer;
	list-style: none
}

.change-type .type-left ul li a {
	display: block;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	padding-left: 8px;
	overflow: hidden;
	width: 100%;
	color: #333;
	font-size: 14px;
	border-left: 2px solid #26778d
}

.change-type .type-left ul li span {
	display: block;
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 8;
	overflow: hidden;
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s
}

.change-type .type-left ul li:hover span {
	transition: width 0.5s;
	-moz-transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-o-transition: width 0.5s
}

.type-left ul li:nth-child(1):hover span,.type-left ul li:nth-child(1).active span,.type-left ul li:nth-child(8):hover span,.type-left ul li:nth-child(8).active span {
	background: #2C73D2;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(1):hover a,.type-left ul li:nth-child(1).active a,.type-left ul li:nth-child(8):hover a,.type-left ul li:nth-child(8).active a {
	border-left: 2px solid #2C73D2;
	color: #fff
}

.type-left ul li:nth-child(2):hover span,.type-left ul li:nth-child(2).active span,.type-left ul li:nth-child(9):hover span,.type-left ul li:nth-child(9).active span {
	background: #D65DB1;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(2):hover a,.type-left ul li:nth-child(2).active a,.type-left ul li:nth-child(9):hover a,.type-left ul li:nth-child(9).active a {
	border-left: 2px solid #D65DB1;
	color: #fff
}

.type-left ul li:nth-child(3):hover span,.type-left ul li:nth-child(3).active span,.type-left ul li:nth-child(10):hover span,.type-left ul li:nth-child(10).active span {
	background: #00C9A7;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(3):hover a,.type-left ul li:nth-child(3).active a,.type-left ul li:nth-child(10):hover a,.type-left ul li:nth-child(10).active a {
	border-left: 2px solid #00C9A7;
	color: #fff
}

.type-left ul li:nth-child(4):hover span,.type-left ul li:nth-child(4).active span,.type-left ul li:nth-child(11):hover span,.type-left ul li:nth-child(11).active span {
	background: #009EFA;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(4):hover a,.type-left ul li:nth-child(4).active a,.type-left ul li:nth-child(11):hover a,.type-left ul li:nth-child(11).active a {
	border-left: 2px solid #009EFA;
	color: #fff
}

.type-left ul li:nth-child(5):hover span,.type-left ul li:nth-child(5).active span,.type-left ul li:nth-child(12):hover span,.type-left ul li:nth-child(12).active span {
	background: #FF8066;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(5):hover a,.type-left ul li:nth-child(5).active a,.type-left ul li:nth-child(12):hover a,.type-left ul li:nth-child(12).active a {
	border-left: 2px solid #FF8066;
	color: #fff
}

.type-left ul li:nth-child(6):hover span,.type-left ul li:nth-child(6).active span,.type-left ul li:nth-child(13):hover span,.type-left ul li:nth-child(13).active span {
	background: #64b5f6;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(6):hover a,.type-left ul li:nth-child(6).active a,.type-left ul li:nth-child(13):hover a,.type-left ul li:nth-child(13).active a {
	border-left: 2px solid #64b5f6;
	color: #fff
}

.type-left ul li:nth-child(7):hover span,.type-left ul li:nth-child(7).active span,.type-left ul li:nth-child(14):hover span,.type-left ul li:nth-child(14).active span {
	background: #388e3c;
	width: 100%;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5)
}

.type-left ul li:nth-child(7):hover a,.type-left ul li:nth-child(7).active a,.type-left ul li:nth-child(14):hover a,.type-left ul li:nth-child(14).active a {
	border-left: 2px solid #388e3c;
	color: #fff
}

.type-right {
	position: fixed;
	top: 88px;
    cursor: pointer;
}

.type-right svg {
	width: 28px;
	height: 28px
}

@media screen and (min-width:1201px){
    .mylist li.col-3{ min-width: 132px;}
}
@media screen and (min-width:992px) and (max-width:1200px){
    .mylist li.col-3{ min-width: 110px;}
    span.pad-d_none{display:none;}
    span.desk-d_none{display:inline;}
}

@media screen and (min-width:992px) {
    .search-type li {margin: 0 4px;}
    h2.title{ font-size: 36px;}
	.search-type li label{
        padding: 5px 15px;
    }
}
@media screen and (max-width: 991px){
	h2.title{ margin-top: 0;}
	p.content{ margin-bottom: 30px;}
    #he-plugin-simple{ display: none !important; }
    .banner-video video{width:1200px; }
    .banner-video img{height: 288px;}
    div#navbarsExample05 { background: rgba(0, 0, 0, 0.8); padding: 10px 30px; border-radius: 20px;}
    .navbar-light .navbar-nav .nav-link{ color: #fff; }
    .navbar-light .navbar-nav .active .nav-link{ color: #fff; }
    span.pad-d_none{display:none;}
    span.desk-d_none{display:inline;}
    .mylist:nth-of-type(1){
        margin-top: 0;
    }
    .navbar-brand {
        visibility: hidden;
    }
    .type-right {
        top: 14px;
		left: 10px;
	}
    .container{
        margin-top: 80px; 
    }
}

@media screen and (max-width:767px){
    .banner-video video{width:960px; }
    .banner-video img{width:960px; }
    .banner-video img.dewu{width:100%; }
    .s-type-list label{padding:5px 0}
    .search-type{overflow:hidden}
    .search-list{height:30px;overflow-y:hidden;overflow-x:scroll;white-space:nowrap}
    .mylist{ border-radius: 8px;}
    .mylist li.col-3{ margin: 5px 0 5px;}
    .mylist li.col-3 svg{ width: 30px; height: 30px; padding: 5px;border-radius: 5px;}
    .mylist li.col-3 span{ font-size: 12px; }
    .search-type li{border-radius: 5px 5px 0 0;}
    .search-type li label{border-radius:5px 5px 0 0;}
	svg.mobile-d_none{display:none;}
}
@media screen and (min-width:520px) and (max-width:767px) {
    .search-type li label {
        padding: 0 15px;
    }
}
@media screen and (max-width:520px){
    .search-type li label {
        padding: 0 12px;
        font-size: 12px;
    }
}
@media screen and (max-width:440px) {
    .search-type li label {
        padding: 0 8px;
        font-size: 10px;
    }
}



::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::-webkit-scrollbar-corner {
    background: #ddd;
}

@media screen and (max-height:767px){
	.change-type .type-left ul li {
		line-height: 35px;
		height: 35px;
	}
}

@media screen and (max-height:600px){
	.change-type .type-left ul li {
		line-height: 20px;
		height: 20px;
	}
	.change-type .type-left ul li a {
		font-size: 10px;
	}
}
.mode-switch {
	display: flex;
	align-items: center;
	/* 假设你在header上面使用的是flex，
	    margin-left: auto可以将切换按钮置于header最右侧 
	margin-left: auto; */
	gap: 5px;
	span{
	    color:#fff !important;
	}
}

.mode-switch__toggle {
	background-color: purple;
	height: 100%;
	width: 60px;
	padding: 2px;
	border-radius: 100px;
	cursor: pointer;
}

.mode-switch__circle {
	width: 25px;
	height: 25px;
	border-radius: 100px;
	background-color: #fff;
	transition: transform 0.3s ease;
	/* pointer-events: none这里是让圆圈不接收鼠标点击事件，
	    上面的toggle接收就可以了 */
	pointer-events: none;
}
.mode-switch__circle.lover {
	margin-left:35px;
}

/* 可以暂时使用hover来测试circle这个圆圈的transition效果 */
.mode-switch__toggle:hover .mode-switch__circle {
	/* 70px - 10px(左右padding) - 25px = 35px */
	transform: translateX(35px);
}
.mode-switch__toggle:hover .mode-switch__circle.lover {
	/* 70px - 10px(左右padding) - 25px = 35px */
	transform: translateX(-35px);
}
